<table class="table"> 
  <thead>
    <tr>
      <th scope="col">Total Tenant</th>
      <th scope="col">Total Users</th>
      <th scope="col">Total Answers</th>
      <th scope="col">Total Questions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @tenants %> </td>
      <td><%= @users %> </td>
      <td><%= @answers %> </td>
      <td><%= @questions %> </td>
    </tr>
  </tbody>
</table>


